* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary-color: darkblue;
  --secondary-color: white;
  --accent-color: gray;
  --border-color: black;
  --light-bg: #eee;
  --text-color: #333;
  --max-width: 840px;
  --padding-small: 2px;
  --padding-medium: 10px;
  --padding-large: 20px;
  --aside-width: 20rem;
}

nav {
  background-color: var(--primary-color);
  padding: var(--padding-medium);
}

nav a {
  color: var(--secondary-color);
  display: block;
  padding: var(--padding-large);
}

h1 {
  color: var(--primary-color);
}

main {
  max-width: var(--max-width);
}

main img {
  float: right; 
  width: 150px;
  height: auto;
  border: 1px solid var(--border-color);
  padding: var(--padding-small);
  box-shadow: 0 0 30px var(--accent-color);
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  padding: 0;
}

aside {
  width: var(--aside-width);
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
    position: absolute;
    top: 65px;
    left: 150px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--border-color);
  text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}